body{
    background-color: black;
}

ul, li {
   margin:0;
   padding: 0;
   text-indent: 0;
   list-style-type: none;
}
#liste-tech{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.box-liste{
    margin:15px;
    background-color: aqua;
    width: 150px;
}